USE [yourfm]
GO
ALTER TABLE [dbo].[programa_listareproducao] DROP CONSTRAINT [FK_programa_listareproducao_programa]
GO
ALTER TABLE [dbo].[programa_listareproducao] DROP CONSTRAINT [FK_programa_listareproducao_listareproducao]
GO
ALTER TABLE [dbo].[programa_categoria] DROP CONSTRAINT [FK_programa_categoria_programa]
GO
ALTER TABLE [dbo].[programa_categoria] DROP CONSTRAINT [FK_programa_categoria_categoria]
GO
ALTER TABLE [dbo].[programa] DROP CONSTRAINT [FK_programa_estacao]
GO
ALTER TABLE [dbo].[programa] DROP CONSTRAINT [FK_programa_classificacao]
GO
ALTER TABLE [dbo].[mensagem] DROP CONSTRAINT [FK_mensagem_user]
GO
ALTER TABLE [dbo].[mensagem] DROP CONSTRAINT [FK_mensagem_estacao]
GO
ALTER TABLE [dbo].[locutor] DROP CONSTRAINT [FK_locutor_user]
GO
ALTER TABLE [dbo].[locutor] DROP CONSTRAINT [FK_locutor_estacao]
GO
ALTER TABLE [dbo].[listareproducao] DROP CONSTRAINT [FK_listareproducao_user]
GO
ALTER TABLE [dbo].[follow] DROP CONSTRAINT [FK_follow_user1]
GO
ALTER TABLE [dbo].[follow] DROP CONSTRAINT [FK_follow_user]
GO
ALTER TABLE [dbo].[estacao_categoria] DROP CONSTRAINT [FK_estacao_categoria_estacao]
GO
ALTER TABLE [dbo].[estacao_categoria] DROP CONSTRAINT [FK_estacao_categoria_categoria]
GO
ALTER TABLE [dbo].[estacao] DROP CONSTRAINT [FK_estacao_user]
GO
ALTER TABLE [dbo].[estacao] DROP CONSTRAINT [FK_estacao_regiao]
GO
ALTER TABLE [dbo].[episodio] DROP CONSTRAINT [FK_episodio_programa]
GO
/****** Object:  Index [C_username]    Script Date: 19/06/2021 12:11:52 ******/
ALTER TABLE [dbo].[user] DROP CONSTRAINT [C_username]
GO
/****** Object:  Table [dbo].[user]    Script Date: 19/06/2021 12:11:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user]') AND type in (N'U'))
DROP TABLE [dbo].[user]
GO
/****** Object:  Table [dbo].[regiao]    Script Date: 19/06/2021 12:11:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[regiao]') AND type in (N'U'))
DROP TABLE [dbo].[regiao]
GO
/****** Object:  Table [dbo].[programa_listareproducao]    Script Date: 19/06/2021 12:11:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[programa_listareproducao]') AND type in (N'U'))
DROP TABLE [dbo].[programa_listareproducao]
GO
/****** Object:  Table [dbo].[programa_categoria]    Script Date: 19/06/2021 12:11:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[programa_categoria]') AND type in (N'U'))
DROP TABLE [dbo].[programa_categoria]
GO
/****** Object:  Table [dbo].[programa]    Script Date: 19/06/2021 12:11:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[programa]') AND type in (N'U'))
DROP TABLE [dbo].[programa]
GO
/****** Object:  Table [dbo].[mensagem]    Script Date: 19/06/2021 12:11:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[mensagem]') AND type in (N'U'))
DROP TABLE [dbo].[mensagem]
GO
/****** Object:  Table [dbo].[locutor]    Script Date: 19/06/2021 12:11:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[locutor]') AND type in (N'U'))
DROP TABLE [dbo].[locutor]
GO
/****** Object:  Table [dbo].[listareproducao]    Script Date: 19/06/2021 12:11:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[listareproducao]') AND type in (N'U'))
DROP TABLE [dbo].[listareproducao]
GO
/****** Object:  Table [dbo].[follow]    Script Date: 19/06/2021 12:11:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[follow]') AND type in (N'U'))
DROP TABLE [dbo].[follow]
GO
/****** Object:  Table [dbo].[estacao_categoria]    Script Date: 19/06/2021 12:11:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[estacao_categoria]') AND type in (N'U'))
DROP TABLE [dbo].[estacao_categoria]
GO
/****** Object:  Table [dbo].[estacao]    Script Date: 19/06/2021 12:11:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[estacao]') AND type in (N'U'))
DROP TABLE [dbo].[estacao]
GO
/****** Object:  Table [dbo].[episodio]    Script Date: 19/06/2021 12:11:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[episodio]') AND type in (N'U'))
DROP TABLE [dbo].[episodio]
GO
/****** Object:  Table [dbo].[classificacao]    Script Date: 19/06/2021 12:11:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[classificacao]') AND type in (N'U'))
DROP TABLE [dbo].[classificacao]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 19/06/2021 12:11:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[categoria]') AND type in (N'U'))
DROP TABLE [dbo].[categoria]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 19/06/2021 12:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[id] [int] NOT NULL,
	[designacao] [varchar](100) NOT NULL,
	[popularidade] [real] NOT NULL,
	[imagem] [varchar](256) NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[classificacao]    Script Date: 19/06/2021 12:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[classificacao](
	[id] [int] NOT NULL,
	[designacao] [varchar](100) NOT NULL,
 CONSTRAINT [PK_classificacao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[episodio]    Script Date: 19/06/2021 12:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[episodio](
	[id_programa] [int] NOT NULL,
	[n_episodio] [int] NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[data_ini] [datetime] NOT NULL,
	[data_fim] [datetime] NOT NULL,
	[duracao] [float] NOT NULL,
 CONSTRAINT [PK_episodio] PRIMARY KEY CLUSTERED 
(
	[id_programa] ASC,
	[n_episodio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estacao]    Script Date: 19/06/2021 12:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estacao](
	[estacaoid] [int] NOT NULL,
	[frequencia] [varchar](8) NULL,
	[regiaoid] [int] NOT NULL,
 CONSTRAINT [PK_estacao] PRIMARY KEY CLUSTERED 
(
	[estacaoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estacao_categoria]    Script Date: 19/06/2021 12:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estacao_categoria](
	[estacao] [int] NOT NULL,
	[categoria] [int] NOT NULL,
 CONSTRAINT [PK_estacao_categoria] PRIMARY KEY CLUSTERED 
(
	[estacao] ASC,
	[categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[follow]    Script Date: 19/06/2021 12:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[follow](
	[followed] [int] NOT NULL,
	[follower] [int] NOT NULL,
 CONSTRAINT [PK_follow] PRIMARY KEY CLUSTERED 
(
	[followed] ASC,
	[follower] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[listareproducao]    Script Date: 19/06/2021 12:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[listareproducao](
	[id] [int] NOT NULL,
	[designacao] [varchar](80) NOT NULL,
	[descricao] [varchar](80) NOT NULL,
	[userid] [int] NOT NULL,
	[foto] [varchar](256) NOT NULL,
 CONSTRAINT [PK_listareproducao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[locutor]    Script Date: 19/06/2021 12:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locutor](
	[userid] [int] NOT NULL,
	[estacao] [int] NOT NULL,
 CONSTRAINT [PK_locutor] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mensagem]    Script Date: 19/06/2021 12:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mensagem](
	[id] [int] NOT NULL,
	[mensagem] [varchar](180) NOT NULL,
	[data] [datetime] NOT NULL,
	[estacao] [int] NOT NULL,
	[userid] [int] NOT NULL,
 CONSTRAINT [PK_mensagem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[programa]    Script Date: 19/06/2021 12:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[programa](
	[id] [int] NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[descricao] [varchar](280) NOT NULL,
	[classificacao] [int] NOT NULL,
	[estacao] [int] NOT NULL,
	[foto] [varchar](256) NOT NULL,
 CONSTRAINT [PK_programa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[programa_categoria]    Script Date: 19/06/2021 12:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[programa_categoria](
	[programa] [int] NOT NULL,
	[categoria] [int] NOT NULL,
 CONSTRAINT [PK_programa_categoria] PRIMARY KEY CLUSTERED 
(
	[programa] ASC,
	[categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[programa_listareproducao]    Script Date: 19/06/2021 12:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[programa_listareproducao](
	[programa] [int] NOT NULL,
	[listareproducao] [int] NOT NULL,
 CONSTRAINT [PK_programa_listareproducao] PRIMARY KEY CLUSTERED 
(
	[programa] ASC,
	[listareproducao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regiao]    Script Date: 19/06/2021 12:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regiao](
	[id] [int] NOT NULL,
	[designacao] [varchar](100) NOT NULL,
 CONSTRAINT [PK_regiao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 19/06/2021 12:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[userid] [int] NOT NULL,
	[username] [varchar](18) NOT NULL,
	[password] [varchar](32) NOT NULL,
	[email] [varchar](60) NOT NULL,
	[data_nasc] [date] NULL,
	[nome] [varchar](45) NOT NULL,
	[foto] [varchar](256) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[categoria] ([id], [designacao], [popularidade], [imagem]) VALUES (1, N'21st century classical', 27.83, N'http://dummyimage.com/250x250.png/ff4444/ffffff')
INSERT [dbo].[categoria] ([id], [designacao], [popularidade], [imagem]) VALUES (2, N'432hz', 52.5, N'http://dummyimage.com/250x250.png/5fa2dd/ffffff')
INSERT [dbo].[categoria] ([id], [designacao], [popularidade], [imagem]) VALUES (3, N'8-bit', 48, N'http://dummyimage.com/250x250.png/cc0000/ffffff')
GO
INSERT [dbo].[classificacao] ([id], [designacao]) VALUES (1, N'a')
INSERT [dbo].[classificacao] ([id], [designacao]) VALUES (2, N'b')
INSERT [dbo].[classificacao] ([id], [designacao]) VALUES (3, N'c')
GO
INSERT [dbo].[episodio] ([id_programa], [n_episodio], [titulo], [data_ini], [data_fim], [duracao]) VALUES (1, 50, N'Open-source systemic Graphic Interface', CAST(N'2021-03-20T23:46:00.000' AS DateTime), CAST(N'2021-03-21T15:46:00.000' AS DateTime), 16)
INSERT [dbo].[episodio] ([id_programa], [n_episodio], [titulo], [data_ini], [data_fim], [duracao]) VALUES (2, 7, N'Future-proofed 5th generation database', CAST(N'2018-06-03T03:45:00.000' AS DateTime), CAST(N'2018-06-03T19:45:00.000' AS DateTime), 16)
INSERT [dbo].[episodio] ([id_programa], [n_episodio], [titulo], [data_ini], [data_fim], [duracao]) VALUES (2, 49, N'Quality-focused 24/7 support', CAST(N'2019-04-16T03:29:00.000' AS DateTime), CAST(N'2019-04-16T10:29:00.000' AS DateTime), 7)
GO
INSERT [dbo].[estacao] ([estacaoid], [frequencia], [regiaoid]) VALUES (50, N'75.3', 14)
INSERT [dbo].[estacao] ([estacaoid], [frequencia], [regiaoid]) VALUES (51, N'84.35', 14)
INSERT [dbo].[estacao] ([estacaoid], [frequencia], [regiaoid]) VALUES (52, N'64.73', 23)
GO
INSERT [dbo].[estacao_categoria] ([estacao], [categoria]) VALUES (50, 175)
INSERT [dbo].[estacao_categoria] ([estacao], [categoria]) VALUES (50, 232)
INSERT [dbo].[estacao_categoria] ([estacao], [categoria]) VALUES (50, 285)
GO
INSERT [dbo].[follow] ([followed], [follower]) VALUES (1, 8)
INSERT [dbo].[follow] ([followed], [follower]) VALUES (1, 57)
INSERT [dbo].[follow] ([followed], [follower]) VALUES (1, 77)
GO
INSERT [dbo].[listareproducao] ([id], [designacao], [descricao], [userid], [foto]) VALUES (1, N'sapien arcu sed augue', N'vel augue vestibulum ante ipsum primis in faucibus', 50, N'http://dummyimage.com/121x105.png/cc0000/ffffff')
INSERT [dbo].[listareproducao] ([id], [designacao], [descricao], [userid], [foto]) VALUES (2, N'maecenas ut massa quis', N'sit amet cursus id turpis integer aliquet massa id', 27, N'http://dummyimage.com/204x205.png/dddddd/000000')
INSERT [dbo].[listareproducao] ([id], [designacao], [descricao], [userid], [foto]) VALUES (3, N'nunc', N'tempus vel pede morbi porttitor lorem id ligula suspendisse', 24, N'http://dummyimage.com/188x160.png/dddddd/000000')
GO
INSERT [dbo].[locutor] ([userid], [estacao]) VALUES (35, 54)
INSERT [dbo].[locutor] ([userid], [estacao]) VALUES (36, 65)
INSERT [dbo].[locutor] ([userid], [estacao]) VALUES (38, 86)
GO
INSERT [dbo].[programa] ([id], [nome], [descricao], [classificacao], [estacao], [foto]) VALUES (1, N'Staphysagria Kit Refill', N'magnis dis parturient montes nascetur ridiculus mus vivamus vestibulum sagittis sapien cum sociis natoque penatibus et', 3, 94, N'http://dummyimage.com/132x171.png/ff4444/ffffff')
INSERT [dbo].[programa] ([id], [nome], [descricao], [classificacao], [estacao], [foto]) VALUES (2, N'Ulta Vanilla Sugar Anti-Bacterial Hand Sanitizer', N'lacinia sapien quis libero nullam sit amet turpis elementum ligula vehicula consequat morbi a ipsum', 1, 56, N'http://dummyimage.com/157x127.png/cc0000/ffffff')
INSERT [dbo].[programa] ([id], [nome], [descricao], [classificacao], [estacao], [foto]) VALUES (3, N'Top White', N'ut erat curabitur gravida nisi at nibh in hac habitasse platea dictumst aliquam augue quam sollicitudin vitae', 2, 62, N'http://dummyimage.com/189x134.png/dddddd/000000')
GO
INSERT [dbo].[programa_categoria] ([programa], [categoria]) VALUES (1, 448)
INSERT [dbo].[programa_categoria] ([programa], [categoria]) VALUES (1, 847)
INSERT [dbo].[programa_categoria] ([programa], [categoria]) VALUES (2, 305)
GO
INSERT [dbo].[programa_listareproducao] ([programa], [listareproducao]) VALUES (1, 39)
INSERT [dbo].[programa_listareproducao] ([programa], [listareproducao]) VALUES (1, 43)
INSERT [dbo].[programa_listareproducao] ([programa], [listareproducao]) VALUES (1, 53)
GO
INSERT [dbo].[regiao] ([id], [designacao]) VALUES (1, N'Alto Minho')
INSERT [dbo].[regiao] ([id], [designacao]) VALUES (2, N'Cávado')
INSERT [dbo].[regiao] ([id], [designacao]) VALUES (3, N'Ave')
GO
INSERT [dbo].[user] ([userid], [username], [password], [email], [data_nasc], [nome], [foto]) VALUES (1, N'wreddie0', N'FgQnoz', N'wreddie0@furl.net', CAST(N'2017-02-07' AS Date), N'Westley Reddie', N'https://robohash.org/doloremqueautest.png?size=100x100&set=set1')
INSERT [dbo].[user] ([userid], [username], [password], [email], [data_nasc], [nome], [foto]) VALUES (2, N'mredmire1', N'kSmPTLGHWGk', N'mredmire1@dailymotion.com', CAST(N'1996-07-29' AS Date), N'Mohammed Redmire', N'https://robohash.org/suntutalias.png?size=100x100&set=set1')
INSERT [dbo].[user] ([userid], [username], [password], [email], [data_nasc], [nome], [foto]) VALUES (3, N'rbland2', N'AA1zte', N'rbland2@cnbc.com', CAST(N'1996-04-18' AS Date), N'Reeta Bland', N'https://robohash.org/autsedipsa.png?size=100x100&set=set1')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [C_username]    Script Date: 19/06/2021 12:11:53 ******/
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [C_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[episodio]  WITH CHECK ADD  CONSTRAINT [FK_episodio_programa] FOREIGN KEY([id_programa])
REFERENCES [dbo].[programa] ([id])
GO
ALTER TABLE [dbo].[episodio] CHECK CONSTRAINT [FK_episodio_programa]
GO
ALTER TABLE [dbo].[estacao]  WITH CHECK ADD  CONSTRAINT [FK_estacao_regiao] FOREIGN KEY([regiaoid])
REFERENCES [dbo].[regiao] ([id])
GO
ALTER TABLE [dbo].[estacao] CHECK CONSTRAINT [FK_estacao_regiao]
GO
ALTER TABLE [dbo].[estacao]  WITH CHECK ADD  CONSTRAINT [FK_estacao_user] FOREIGN KEY([estacaoid])
REFERENCES [dbo].[user] ([userid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[estacao] CHECK CONSTRAINT [FK_estacao_user]
GO
ALTER TABLE [dbo].[estacao_categoria]  WITH CHECK ADD  CONSTRAINT [FK_estacao_categoria_categoria] FOREIGN KEY([categoria])
REFERENCES [dbo].[categoria] ([id])
GO
ALTER TABLE [dbo].[estacao_categoria] CHECK CONSTRAINT [FK_estacao_categoria_categoria]
GO
ALTER TABLE [dbo].[estacao_categoria]  WITH CHECK ADD  CONSTRAINT [FK_estacao_categoria_estacao] FOREIGN KEY([estacao])
REFERENCES [dbo].[estacao] ([estacaoid])
GO
ALTER TABLE [dbo].[estacao_categoria] CHECK CONSTRAINT [FK_estacao_categoria_estacao]
GO
ALTER TABLE [dbo].[follow]  WITH CHECK ADD  CONSTRAINT [FK_follow_user] FOREIGN KEY([followed])
REFERENCES [dbo].[user] ([userid])
GO
ALTER TABLE [dbo].[follow] CHECK CONSTRAINT [FK_follow_user]
GO
ALTER TABLE [dbo].[follow]  WITH CHECK ADD  CONSTRAINT [FK_follow_user1] FOREIGN KEY([follower])
REFERENCES [dbo].[user] ([userid])
GO
ALTER TABLE [dbo].[follow] CHECK CONSTRAINT [FK_follow_user1]
GO
ALTER TABLE [dbo].[listareproducao]  WITH CHECK ADD  CONSTRAINT [FK_listareproducao_user] FOREIGN KEY([userid])
REFERENCES [dbo].[user] ([userid])
GO
ALTER TABLE [dbo].[listareproducao] CHECK CONSTRAINT [FK_listareproducao_user]
GO
ALTER TABLE [dbo].[locutor]  WITH CHECK ADD  CONSTRAINT [FK_locutor_estacao] FOREIGN KEY([estacao])
REFERENCES [dbo].[estacao] ([estacaoid])
GO
ALTER TABLE [dbo].[locutor] CHECK CONSTRAINT [FK_locutor_estacao]
GO
ALTER TABLE [dbo].[locutor]  WITH CHECK ADD  CONSTRAINT [FK_locutor_user] FOREIGN KEY([userid])
REFERENCES [dbo].[user] ([userid])
GO
ALTER TABLE [dbo].[locutor] CHECK CONSTRAINT [FK_locutor_user]
GO
ALTER TABLE [dbo].[mensagem]  WITH CHECK ADD  CONSTRAINT [FK_mensagem_estacao] FOREIGN KEY([estacao])
REFERENCES [dbo].[estacao] ([estacaoid])
GO
ALTER TABLE [dbo].[mensagem] CHECK CONSTRAINT [FK_mensagem_estacao]
GO
ALTER TABLE [dbo].[mensagem]  WITH CHECK ADD  CONSTRAINT [FK_mensagem_user] FOREIGN KEY([userid])
REFERENCES [dbo].[user] ([userid])
GO
ALTER TABLE [dbo].[mensagem] CHECK CONSTRAINT [FK_mensagem_user]
GO
ALTER TABLE [dbo].[programa]  WITH CHECK ADD  CONSTRAINT [FK_programa_classificacao] FOREIGN KEY([classificacao])
REFERENCES [dbo].[classificacao] ([id])
GO
ALTER TABLE [dbo].[programa] CHECK CONSTRAINT [FK_programa_classificacao]
GO
ALTER TABLE [dbo].[programa]  WITH CHECK ADD  CONSTRAINT [FK_programa_estacao] FOREIGN KEY([estacao])
REFERENCES [dbo].[estacao] ([estacaoid])
GO
ALTER TABLE [dbo].[programa] CHECK CONSTRAINT [FK_programa_estacao]
GO
ALTER TABLE [dbo].[programa_categoria]  WITH CHECK ADD  CONSTRAINT [FK_programa_categoria_categoria] FOREIGN KEY([categoria])
REFERENCES [dbo].[categoria] ([id])
GO
ALTER TABLE [dbo].[programa_categoria] CHECK CONSTRAINT [FK_programa_categoria_categoria]
GO
ALTER TABLE [dbo].[programa_categoria]  WITH CHECK ADD  CONSTRAINT [FK_programa_categoria_programa] FOREIGN KEY([programa])
REFERENCES [dbo].[programa] ([id])
GO
ALTER TABLE [dbo].[programa_categoria] CHECK CONSTRAINT [FK_programa_categoria_programa]
GO
ALTER TABLE [dbo].[programa_listareproducao]  WITH CHECK ADD  CONSTRAINT [FK_programa_listareproducao_listareproducao] FOREIGN KEY([listareproducao])
REFERENCES [dbo].[listareproducao] ([id])
GO
ALTER TABLE [dbo].[programa_listareproducao] CHECK CONSTRAINT [FK_programa_listareproducao_listareproducao]
GO
ALTER TABLE [dbo].[programa_listareproducao]  WITH CHECK ADD  CONSTRAINT [FK_programa_listareproducao_programa] FOREIGN KEY([programa])
REFERENCES [dbo].[programa] ([id])
GO
ALTER TABLE [dbo].[programa_listareproducao] CHECK CONSTRAINT [FK_programa_listareproducao_programa]
GO
